@import url('https://fonts.cdnfonts.com/css/manrope');
@import url('https://fonts.cdnfonts.com/css/inter');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Manrope', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  outline: dashed 1px lightgray;
}

.logo {
  font-family: 'Inter', sans-serif;
}

.difference {
  mix-blend-mode: difference;
}